@import "reset";

.gem {
  background-color: lightgrey;
  margin: 10px;
  height: 200px;
  width: 300px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
